
{% load custom_filters %}
{% load compress %}
{% load static %}
 <!-- JavaScript Libraries -->
 <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
 {% compress js %}
 <script src="{% static "lib/wow/wow.min.js" %}"></script>
 <script src="{% static "lib/easing/easing.min.js" %}"></script>
 <script src="{% static "lib/waypoints/waypoints.min.js" %}"></script>
 <script src="{% static "lib/owlcarousel/owl.carousel.min.js" %}"></script>

<script src="{% static "js/vendor/modernizr-3.5.0.min.js" %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static "js/jquery.slicknav.min.js" %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static "js/slick.min.js" %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static "js/wow.min.js" %}"></script>
<script src="{% static "js/animated.headline.js" %}"></script>
<script src="{% static "js/jquery.magnific-popup.js" %}"></script>

<!-- Date Picker -->
<script src="{% static "js/gijgo.min.js" %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static "js/jquery.nice-select.min.js" %}"></script>
<script src="{% static "js/jquery.sticky.js" %}"></script>

<!-- counter , waypoint -->
<script src="{% static "js/jquery.counterup.min.js" %}"></script>
<script src="{% static "js/waypoints.min.js" %}"></script>
<script src="{% static "js/jquery.countdown.min.js" %}"></script>
<!-- contact js -->
<script src="{% static "js/contact.js" %}"></script>
<script src="{% static "js/jquery.form.js" %}"></script>
<script src="{% static "js/jquery.validate.min.js" %}"></script>
<script src="{% static "js/mail-script.js" %}"></script>
<script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>


<!-- Jquery Plugins, main Jquery -->	
<script src="{% static "js/plugins.js" %}"></script>
<script src="{% static "js/main2.js" %}"></script>
<script src="{% static "js/aos.js" %}"></script>
<script src="{% static "js/fancybox.umd.js" %}"></script>
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/purecounter.js" %}"></script>
<script src="{% static "js/script2.js" %}"></script>
{% endcompress %}
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/67b461d04d7946191287b803/1ikc9s5n0';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->