{% load static %}
{% load custom_filters %}
{% load compress %}

<!-- About Start -->
<div id="about" class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #188bcc transparent #188bcc;">
                    <img src="{% static "img/Padre-Arhedo.jpg" %}" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url({% static "img/about-img-1.png" %});">
                <h5 class="section-about-title pe-3">About Us</h5>
                <h1 class="mb-4">Welcome to <span class="text-primary">Uromi JDPCI</span></h1>
                <p class="mb-4">Uromi Justice Peace and Caritas Initiatives (Uromi JDPCI) extends a gracious welcome to you. As a faith-based Non-Governmental Organization affiliated with the esteemed Catholic Diocese of Uromi, our solemn mandate is to ardently promote Justice and Peace, encourage meaningful development, and steadfastly provide support for the less privileged across the distinguished 5 Local Government Areas of Edo Central Senatorial district.</p>
                <p class="mb-4">In the noble pursuit of our mission, Uromi JDPCI is resolute in its commitment to making a substantial impact within our community. We invite you to join us in this noble endeavor, contributing to the creation of a more just and harmonious society.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Embarking on Community Development Initiatives</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Promoting Justice and Peace with Diligence</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Offering Meaningful Support to the Less Privileged</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Fostering Collaboration with the Catholic Diocese of Uromi</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Making a Positive Impact in the 5 Local Government Areas</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Possessing a Dedicated Team with an Unyielding Commitment to Positive Change</p>
                    </div>
                </div>

                <!-- <a class="btn rounded-pill py-3 px-5 mt-2" href="">Read More</a> -->
            </div>
        </div>
    </div>
</div>
<!-- About End -->